
/* color: white
height: 70px
width: 100%
border bottom 1px #CCCCCC
logo align on left and center vertically (20px space at the left) */

.header {
    width: 100%;
    height: 70px; 
    background-color: white;  
    border-bottom: 1px solid #CCCCCC;


}  
.header__logo {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}